.about-me{
    //background-color: #4b7dee;
    background-image: radial-gradient( ellipse closest-side at 50% 50%,  rgb(111, 185, 232) 0%, rgb(82, 138, 255) 95% );
    //background: linear-gradient(to bottom, rgba(111, 185, 232, 0.7) 40%, rgb(75, 125, 238) 94%);
    height: 100vh;
    // background-image: url("../../../assets/images/AdobeStock_97588769.jpeg");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    position: relative;
  &__wrapper {
    max-width: 1390px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
  }

  .house-container {
    position: relative;
    width: 480px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    &__button {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      //transform: translate(-50%, -50%);
      border: none;
      background-color: transparent;
      margin: 0;
      cursor: pointer;
      transition: all 0.3s linear;
      outline: transparent;

      &:hover .house-container__light {
        background: radial-gradient(circle, rgba(251,239,63,1) 20%, rgba(126,126,65,0) 55%);
        opacity: 1;
        transition: all 0.3s linear;
      }
    }
    &__light {
      position: absolute;
      height: 80%;
      width: 80%;
      top: 44%;
      left: 55%;
      transform: translate(-50%, -50%);
      transition: all 0.3s linear;
      opacity: 0;
      z-index: -1;
      background: radial-gradient(circle, rgba(251,239,63,1) 20%, rgba(126,126,65,0) 55%);

    }
    &__house-image {
      width: 100%;
      height: auto;
      z-index: 2;
    }
    &__board-image {
      position: absolute;
      width: 90px;
      height: auto;
      top: 41%;
      left: 73%;
      transform: translate(-50%, -50%);
    }
    &__mark-image {
      position: absolute;
      width: 14px;
      height: auto;
      top: 13%;
      left: 55%;
      transform: translate(-50%, -50%);
      animation: bounce 5s ease infinite;
    }
  }
  .large-cloud {
    position: absolute;
    width: 300px;
    height: 170px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
    &--1 {
      top: -10%;
      left: 4%;
      background-image: url('../../../assets/images/css_sprites-large-cloud.png');
      background-position: 0 103%;
      animation: waving 15s linear infinite;
      animation-delay: 1s;

    }
    &--2 {
      top: 0;
      left: 116%;
      background-image: url('../../../assets/images/css_sprites-large-cloud.png');
      background-position: 0 51%;
      height: 110px;
      animation: waving 11s linear infinite;
      animation-delay: 0.3s;
    }
    &--3 {
      top: 95%;
      left: 124%;
      background-image: url('../../../assets/images/css_sprites-large-cloud.png');
      background-position: 0 21%;
      height: 90px;
      animation: waving 13s linear infinite;
      animation-delay: 2.3s;

    }
    &--4 {
      top: 45%;
      left: 119%;
      background-image: url('../../../assets/images/css_sprites-large-cloud.png');
      background-position: 0 0;
      height: 70px;
      z-index: 3;
      animation: waving 5s linear infinite;
    }
  }

}
@keyframes waving {
  0% {
    transform: translate(-50%, -44%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -44%);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1) translate(0%, -50%);
  }
  6% {
    transform: scale(1.2, 0.6);
  }
  16% {
    transform: scale(0.8, 1.1) translate(0%, -90%);
  }
  25% {
    transform: scale(1) translate(0%, -50%);
  }
  50% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.bg-large_cloud1 {
  width: 697px; height: 364px;
  //background: url('css_sprites.png') -10px -663px;
}

.bg-large_cloud2 {
  width: 443px; height: 236px;
  //background: url('css_sprites.png') -10px -407px;
}

.bg-large_cloud3 {
  width: 229px; height: 147px;
  //background: url('css_sprites.png') -10px -10px;
}
.bg-large_cloud4 {
  width: 510px; height: 210px;
  //background: url('css_sprites.png') -10px -177px;
}
.bg-small_cloud1 {
   width: 121px; height: 101px;
   //background: url('css_sprites.png') -10px -189px;
 }

.bg-small_cloud2 {
  width: 84px; height: 77px;
  //background: url('css_sprites.png') -10px -92px;
}

.bg-small_cloud3 {
  width: 60px; height: 62px;
  //background: url('css_sprites.png') -10px -10px;
}

