<section class="about-me">
  <div class="about-me__wrapper">
    <div class="house-container">

      <img class="house-container__house-image" src="../../../assets/images/latajacy-domek.png" alt="house">
      <img class="house-container__board-image" src="../../../assets/images/arrow-aboutme.png" alt="board">
      <img class="house-container__mark-image" src="../../../assets/images/Exclamation.png" alt="mark">
      <div class="large-cloud large-cloud--1"></div>
      <div class="large-cloud large-cloud--2"></div>
      <div class="large-cloud large-cloud--3"></div>
      <div class="large-cloud large-cloud--4"></div>
      <button class="house-container__button">
        <div class="house-container__light"></div>
      </button>
    </div>

  </div>
</section>
