<header class="header" [ngStyle]="{'z-index': giveZIndex}" >
  <div class="curtain-container">
    <div class="content header__image-container">
      <img class="image" src="../../../assets/images/drt.png" alt="image">
    </div>
    <button class="action" id="start-btn" (click)="goToMainPage()">Reset</button>
    <!-- <div class="curtain__element curtain__element--left" >
      <div class="test" libParticleEffectButton pParticlesAmountCoefficient=18 pOscillationCoefficient=270 [pSize]=12 pColor="#7fff00"
      pEasing="easeInExpo" pType="circle" [pSpeed]=0.4 [pCanvasPadding]=250
      pDuration=1200 [pHidden]="hidden" (click)="hidden=!hidden" pDirection="right" (pComplete)= afterOpenCurtain() >
      </div>
    </div>
    <div class="curtain__element curtain__element--right">
      <div class="test" libParticleEffectButton pParticlesAmountCoefficient=18 pOscillationCoefficient=270 [pSize]=12 pColor="#7fff00"
      pEasing="easeInExpo" pType="circle" [pSpeed]=0.4 [pCanvasPadding]=250
      pDuration=1200 [pHidden]="hidden" (click)="hidden=!hidden" pDirection="left">
      </div>
    </div>
    <button class="action" (click)="hidden=!hidden">Reset</button> -->
  </div>
  
</header>
