<header  class="header" [ngStyle]="{'z-index': giveZIndex}" (click)="toggleHeader(true)" [ngClass]="status ? 'hide_header' : ''">
  <div id="header-cont" class="curtain-container content">
    <div class="header__image-container">
      <img class="header__image" src="../../../assets/images/me-code3v7.png" alt="image">
    </div>
  </div>
  
  <!-- <div class="curtain_container-left">
    <div class="header__image-containerr">
      <img class="header__imagee" src="../../../assets/images/me-code3v7.png" alt="image">
    </div>
  </div> -->
  <!-- <div class="shadow"></div> -->
</header>
