@import "../../shared/styles/default/style.scss";
.header{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 999;
    // background-image: radial-gradient( circle farthest-corner at 50% 50%,  rgb(228, 228, 228) 25%, rgba(163, 163, 163, 0.548) 50% );
    background-image: radial-gradient( circle farthest-corner at 50% 50%,  rgba(215,223,252,1) 0%, rgba(255,255,255,1) 0%, rgba(215,223,252,1) 84% );
    opacity: 1;
    // background-image: url("../../../assets/images/maxresdefault.jpg");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    transition: opacity 3s linear, z-index 6.5s;
    
    .curtain-container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        // -webkit-box-shadow: inset 0px 0px 21px 5px rgba(0,0,0,0.34);
        // -moz-box-shadow: inset 0px 0px 21px 5px rgba(0,0,0,0.34);
        box-shadow: inset 0px 0px 21px 5px rgb(190, 204, 255, 0.9);
      }
    }
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .header__image-container{
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
    .header__image{
      width: auto;
      height: 700px;
  //     -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  // filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    }
    
    .svg-ele{
      position: absolute;
      top: 0;
    }
    .svg-ele2{
      position: absolute;
      top: 0;
      right: 0;
    }
}
.hide_header {
  opacity: 0;
  z-index: -1;
}