@import "../../shared/styles/default/style.scss";
.header{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 999;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(126,212,247,1) 0%, rgba(81,196,248,1) 90% );
    .curtain-container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .header__image-container{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .header__image{
      width: auto;
      height: 700px;
  //     -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  // filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    }
    
    
}