.main-nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-nav__link-container{

    }
    .main-nav__link-container{

    }
}