<section class="about-skills">
  <div class="about-skills__wrapper">
    <div class="light-container">
      <div class="light-container__light light-container__light--1"></div>
      <div class="light-container__light light-container__light--2"></div>
      <div class="light-container__light light-container__light--3"></div>
      <div class="light-container__light light-container__light--4"></div>
      <div class="light-container__light light-container__light--5"></div>
      <div class="light-container__light light-container__light--6"></div>
      <div class="light-container__light light-container__light--7"></div>
      <div class="light-container__light light-container__light--8"></div>
      <div class="light-container__light light-container__light--9"></div>
      <div class="light-container__light light-container__light--10"></div>
    </div>
    <div class="images-container">
      <div class="images-container__whale">
        <app-bubbles class="bubbles-comp bubbles-comp--top"></app-bubbles>
        <img class="images-container__image images-container__image--whale" src="../../../assets/images/wieloryb-edit3.png" alt="whale">
      </div>

      <img class="images-container__image images-container__image--rocks" src="../../../assets/images/water-bottom-rocks2.png" alt="rocks">
      <img class="images-container__image" src="" alt="">
      <app-bubbles class="bubbles-comp bubbles-comp--mid"></app-bubbles>
      <app-bubbles class="bubbles-comp bubbles-comp--left"></app-bubbles>
      <app-bubbles class="bubbles-comp bubbles-comp--right"></app-bubbles>
    </div>
  </div>
</section>
